===== PAGE 1 =====

1 
 
   
פרויקטון מסכם  ב- MongoDB        
יש לבחור נושא כראות עיניך (מומלץ מעולם התוכן והעניין שלך, הגשה בזוגות או 
שלשות של פרויקט הגמר. 
חלק א': סעיפים 5-1 
1. תכנון ואיפיון – Data Modeling : 
לאחרבחירת הנושא, יש להציג אפיון כללי  ותכנון   של ה-atabaseD המוצע   
יש להתייחס להחלטה על מבנה ה- atabaseD, מומלץלשלב בין אוספים 
שהם Embedded   לבין אוספים שהםReferenced . 
 
2. הקמה:  
יצירת database , יצירתcollections, הכנסתdocuments לכל אוסףשיצרתם.  
שימוש בפקודות:   
insertOne  ,insertMany   כדי למלא את האוספים בנתונים 
✓ יש להקפיד על מסמכים במבניםגמישים ושונים בתוך אוסף מסוים. 
✓ יש להשתמשבמערכים  שונים בתוך המסמכים השונים. 
 
3. כתיבת קוד ב- JSON: (שילוב בכל הסעיפים 
✓ שימוש בפונקציות של ה-  JSON . 
✓ כתיבתקטעי קוד ו פונקציות  ב- JSON  לצרכים שונים, גם בהקמה וגם
בשליפות והעיבודים שידרשו מהמערכת (בסעיפים השונים). 
 
4. חיפוש/שליפת נתונים:  
שימוש במתודה:  indf על כל הארגומנטים של הפקודה 
 
db.collectionName.find( {query},{projection} ). 
                                           limit().skip().count().sort().toArray().foreach() 
                       
                     מומלץ לשלב בין כל הארגומנטים על פי הצורך, כולל גישה לאיברים בתוך 
מערכים ונתונים שמגיעים ממסמכים שהם Embedded אוReferenced. 
 
5. עדכונים ומחיקות 
שימוש ב: 
✓ שכפול של אוסף, מלא או חלקי על פי הגדרות של קריטריון רצוי 
✓ מחיקה של אוסף מלא או חלקי על פי הגדרות של קריטריון רצוי   
✓ מחיקהעדכון והוספה של נתונים בתוך מסמכים באופן ישיר ו/או  
בעזרת שימוש באופרטורים מתאימים של שדות ושל מערכים.   
(כגון: set, $addToSet, $inc, $pop, $push, $pull ) 
 שימוש בפקודות: drop, renameupdateOne, updateMany, remove 
 

===== PAGE 2 =====

2 
 
 
 
חלק ב': סעיפים7-6 
 
6. הצגתתוצאות מקובצות בעזרת aggregate : 
שימושבמתודה  aggregateלצורך ביצוע חישובים, חתכים, עיבודים
צבירות, פילוחים, מיונים והצגת תוצאות מעובדות  ומקובצות: (שימוש 
בארגומנטים השונים של הפקודה לפי הצורך)  
 
 
 
 
7. הצגת תוצאות ממופות ומצומצמות בעזרת  mapReduce : 
שימוש במתודה  mapReduceלצורךמיפוי וצמצום של נתונים מרובים, 
ביצוע צבירות  והצגת תוצאות מעובדות: (שימוש בארגומנטים השונים של 
הפקודה לפי הצורך)  
 
 
 
הנחיות הגשה:  
יש להגיש את הקוד בקבצי  TXT. 
במידה והשתמשתם בכליAI כדי ליצורData , נא לצרף תיעוד של הפרומפטים 
שבהם השתמשתם.  
את האפיון שבסעיף 1 אפשר להגיש בקובץWORD אוPP כרצונכם 
נא לציין את שמות המגישים.   
הקבצים יוגשו  כמטלה באתר הקורס עד לתאריך המוגדר במטלה.  
                                 
                                   ע ב ו ד ה    נ ע י מ ה !!!  
db.SourceCollection.aggregate ([  {$project:{}} , {$unwind:<>} , {$match:{}} ,   
                                {$group:{},<>} ,  {$lookup:{}} , {$sort:{}} , {$match:{}} , {$out:<>}  ]) 
db.SourceCollection.mapReduce(  map: <> ,   reduce:<> , { out: {} , query:<>  } )
